html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #c0c0c0;
}

.logo {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 200px;
    align-items: center;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.imagemPrincipal {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.texto {
    margin-left: 200px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

p {
    font-size: 25px;
}

.italico {
    font-style: italic;
}

.texto2 {
    display: flex;
    width: 80%;
    vertical-align: text-bottom;
    text-align: left;
    align-items: left;
    padding: 0 6%;
}

.imagemPolo {
    display: flex;
    height: auto;
    width: 600px;
}

.imagemPolo img {
    height: 100%;
    width: 100%;
}